@charset "UTF-8";
/* Variables */
/* Fuentes */
/* Colores */
/* Media Queries Variables*/
/* Botones */
/* Media Queries */
/* Menus de navegación */
/* Variables */
/* Fuentes */
/* Colores */
/* Media Queries Variables*/
/* Botones */
/* Media Queries */
/* Menus de navegación */
html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  font-family: "Montserrat", san-serif; }

.contenedor {
  max-width: 1100px;
  margin: 0 auto; }

.background-header {
  padding: 10px;
  background-color: #360747;
  position: fixed; }

.centrado {
  text-align: center;
  text-transform: uppercase; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    padding: 1.4rem 0; }
  .header img {
    align-items: center;
    top: 0px;
    position: fixed;
    max-width: 80px;
    z-index: 10; }

#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #360747; }

#navbar ul {
  display: flex;
  list-style: none;
  text-transform: uppercase; }
  #navbar ul li {
    color: #ffffff;
    margin-left: 18px; }
  #navbar ul a {
    text-decoration: none; }

.hero {
  min-height: 24rem;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-image: url("../public/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center; }
  .hero .contenido-hero {
    flex: 1; }
    .hero .contenido-hero h2 {
      font-weight: 400;
      font-size: 2.4rem; }
    .hero .contenido-hero p {
      font-size: 1.2rem; }
    .hero .contenido-hero form {
      position: relative; }
      @media only screen and (min-width: 768px) {
        .hero .contenido-hero form {
          width: 40%; } }
      .hero .contenido-hero form input[type='submit'] {
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 1px;
        background-image: url("../public/lupa.png");
        background-repeat: no-repeat;
        background-position: center center;
        width: 2.8rem;
        height: 2.89rem;
        display: block;
        text-indent: -9999px;
        border: none;
        cursor: pointer; }
      .hero .contenido-hero form input[type='text'] {
        width: 100%;
        height: 3rem; }

.barra {
  min-height: 6rem;
  padding: 1rem;
  background: linear-gradient(to right, #360747 0%, #bd205e 100%);
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 20px; }
  .barra .iconos {
    display: flex;
    flex-direction: column;
    flex: 2; }
    @media only screen and (min-width: 1024px) {
      .barra .iconos {
        flex-direction: row; } }
    .barra .iconos .icono {
      flex: 1;
      background-position: 5% center !important;
      background-size: 2.5rem;
      text-align: center;
      padding: 10px 0; }
      @media only screen and (min-width: 768px) {
        .barra .iconos .icono {
          background-position: 20% center !important; } }
      @media only screen and (min-width: 1024px) {
        .barra .iconos .icono {
          background-position: left center !important; } }
      .barra .iconos .icono.icono1 {
        background-image: url("../public/icono1.png");
        background-repeat: no-repeat;
        background-position: center center; }
      .barra .iconos .icono.icono2 {
        background-image: url("../public/icono2.png");
        background-repeat: no-repeat;
        background-position: center center; }
      .barra .iconos .icono.icono3 {
        background-image: url("../public/icono3.png");
        background-repeat: no-repeat;
        background-position: center center; }

#welcome-section {
  height: 100vh; }

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .contenido .contenido {
    flex: 0 1 calc(50% - 1rem);
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem; }
    .contenido .contenido .imagen-curso {
      width: 100%; }
    @media only screen and (min-width: 768px) {
      .contenido .contenido {
        flex: 0 1 calc(33% - 1rem); } }
    @media only screen and (min-width: 1024px) {
      .contenido .contenido {
        flex: 0 1 calc(25% - 1rem); } }

.info {
  padding: 1rem; }
  .info h4 {
    margin: 0;
    font-size: 1.2rem; }
  .info .boton {
    background-color: #fde9e0;
    padding: .5rem 1rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none; }

.footer {
  border: 1px solid #d9d9d9;
  margin-top: 1rem;
  padding-top: 2rem; }
  .footer .contenedor-footer {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 480px) {
      .footer .contenedor-footer {
        flex-direction: row; } }

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 1; }
  @media only screen and (min-width: 1024px) {
    .menu {
      flex: 0 1 calc(30% - 1rem); } }
  .menu a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: .5rem; }
