@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
.background-header {
    padding: 10px;
    background-color: $principal;
    position: fixed;
}

.centrado {
    text-align: center;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    .logo {
        padding: 1.4rem 0;
    }

    img {
        align-items: center;
        top: 0px;
        position: fixed;
        max-width: 80px;
        z-index: 10;
    }   
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: $principal;
}

#navbar ul  {
    display: flex;
    list-style: none;
    text-transform: uppercase;

    li {
        color: $blanco;
        margin-left: 18px;
    }

    a {
        text-decoration: none;
    }
}

.hero {
    min-height: 24rem;
    background-size: cover;
    color: $blanco;
    display: flex;
    align-items: center;
    @include background-image('../public/hero.jpg');

    .contenido-hero {
        flex: 1;

        h2 {
            font-weight: 400;
            font-size: 2.4rem;
        }

        p {
            font-size: 1.2rem;
        }

        form {
            
            position: relative;

            @include tablet () {
                width: 40%;
            }

            input[type='submit']{
                background-color: $blanco;
                position: absolute;
                right: 0;
                top: 1px;
                @include background-image('../public/lupa.png');
                width: 2.8rem;
                height: 2.89rem;
                display: block;
                text-indent: -9999px;
                border: none;
                cursor: pointer;
            }

            input[type='text']{
                width: 100%;
                height: 3rem;
            }
        }
    }
}

.barra {
    min-height: 6rem;
    padding: 1rem;
    @include gradiente($principal, $terciario);
    color: $blanco;
    display: flex;
    align-items: center;
    font-size: 20px;

    .iconos {
        display: flex;
        flex-direction: column;
        flex: 2;

        @include desktop() {
            flex-direction: row;
        }
        .icono {
            flex: 1;
            background-position: 5% center!important;

            @include tablet {
                background-position: 20% center!important;
            }

            @include desktop {
                background-position: left center!important;
            }

            background-size: 2.5rem;
            text-align: center;
            padding: 10px 0;

            &.icono1 {
                @include background-image('../public/icono1.png');
            }

            &.icono2 {
                @include background-image('../public/icono2.png');
            }

            &.icono3 {
                @include background-image('../public/icono3.png');
            }
        }
    }
}

#welcome-section {
    height: 100vh;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .contenido {
        
        .imagen-curso {
            width: 100%;
        }

        flex: 0 1 calc(50% - 1rem);
        border: 1px solid darken($gris, 10);
        margin-bottom: 1rem;

        @include tablet() {
            flex: 0 1 calc(33% - 1rem);
        }

        @include desktop() {
            flex: 0 1 calc(25% - 1rem);
        }
    }
}

.info {
    padding: 1rem;

    h4 {
        margin: 0;
        font-size: 1.2rem;
    }
    .boton {
        @include boton($secundario)
    }
}

.footer {
    border: 1px solid darken($gris, 10);
    margin-top: 1rem;
    padding-top: 2rem;

    .contenedor-footer {
        display: flex;
        flex-direction: column;
        @include telefono() {
            flex-direction: row;
        }
    }
}

.menu {
    @include menus();
}