/* Variables */

/* Fuentes */

$fuente_principal : 'Montserrat', san-serif;

/* Colores */

$principal: #360747;

$secundario: #fde9e0;

$terciario: #bd205e;

$gris: #f2f2f2;

$blanco: #ffffff;

$negro: #000000;

/* Media Queries Variables*/

$telefono: 480px;

$tablet: 768px;

$desktop: 1024px;